<h1>Workshops <small>Schedule</small></h1>

<% if can? :manage, @workshops %>
  <div class="row">
    <div class="col-md-2">
      <div class="btn-group" role="toolbar">
        <a href="/workshops/new" class="btn btn-xs btn-primary btn-group" data-toggle="tooltip" data-placement="top" title="New"><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a href="" class="btn btn-xs btn-danger btn-group delete_selected" data-toggle="tooltip" data-placement="top" title="Delete Selected"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
  </div>
<% end %>

<div>
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Workshop</th>
      <th width="1%"></th>
    </tr>
    </thead>
    <% @workshops.order(date: :desc).each do |workshop| %>
      <tr>
        <td><%= workshop.date %></td>
        <td><%= workshop.name %></td>
        <td><a href="/workshops/<%= workshop.id %>" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Favourite"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    <% end %>
  </table>
</div>