<h1>Services</h1>

<% if can? :manage, @services %>
  <div class="row">
    <div class="col-md-2">
      <div class="btn-group" role="toolbar">
        <a href="/services/new" class="btn btn-xs btn-primary btn-group" data-toggle="tooltip" data-placement="top" title="New"><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a href="" class="btn btn-xs btn-danger btn-group delete_selected" data-toggle="tooltip" data-placement="top" title="Delete Selected"><span class="glyphicon glyphicon-trash"></span></a>
      </div>
    </div>
  </div>
<% end %>

<div>
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Service</th>
      <th>Description</th>
      <th width="1%"></th>
    </tr>
    </thead>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><a href="/products/<%= service.id %>" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Favourite"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    <% end %>
  </table>
</div>