<h1>Services</h1>

<%= render 'shared/admin_tool_bar', collection: @services, source_name: 'services' %>

<div>
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Service</th>
      <th>Description</th>
      <th width="1%"></th>
    </tr>
    </thead>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><a href="/products/<%= service.id %>" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Favourite"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    <% end %>
  </table>
</div>