*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# idea
.idea

# Log Stuff
*.log

# Databases
*.sqlite3

# Chef Stuff
chef/cookbooks
chef/tmp

# Vagrant Stuff
.vagrant

