<%= link_to 'New Conversation', new_user_conversation_path, class: 'btn btn-sm btn-primary' %>
<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Messages</th>
  </tr>
  </thead>
  <% @conversations.each do |conversation| %>
  <tr>
    <td><%= conversation.user %>/td>
    <td><%= conversation.messages %>/td>
  </tr>
  <% end %>
</table>