<div id="main_carousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#main_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main_carousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://lorempixel.com/1500/600/abstract/1" class="img-responsive">

      <div class="container">
        <div class="carousel-caption">
          <h1>Carousel 1</h1>

          <p>Sub Information for the Carousel.</p>

          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1500X600" class="img-responsive">

      <div class="container">
        <div class="carousel-caption">
          <h1>Carousel 2</h1>

          <p>Sub Information for the Carousel.</p>

          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#main_carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#main_carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>