<div class="page-header">
  <h1>Welcome
    <small>This is a Prototype</small>
  </h1>
</div>
<div class="row">
  <div class="col-md-2">Unread Messages: <%= current_user.unread_messages.count %></div>
</div>