<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Information:</strong>
  <%= @event.description %>
</p>
<hr/>
<%= link_to 'Back', events_path %>