<h1>Products</h1>

<%= render 'shared/admin_tool_bar', collection: @products, source_name: 'products' %>
<div>
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th width="1%"></th>
    </tr>
    </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><a href="/products/<%= product.id %>" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Favourite"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    <% end %>
  </table>
</div>